<%- include("partials/header"); -%>

  <div class="container-fluid form-material">
    <div class="row">
      <div class="col">
        <form action="/compose" method="post">
          <div class=" mb-4 post-label">
            <div class="form-outline">
              <label class="form-label" for="form6Example1">Titulo</label>
              <input type="text" id="" name="subjectTitle" class="form-control form-title" placeholder="Titulo da matéria" autofocus>
            </div>
          </div>
          <div class="selector-label selector-label-form" >
            <label class="selector-title form-label selector-label" for="form6Example1">Dificuldade</label>
            <select class="form-select post-label" name="subjectSelector" aria-label="Default select example">
              <option selected>Selecione a sua dificuldade na matéria</option>
              <option value="1">Extremamente dificil</option>
              <option value="2">Um pouco dificil</option>
              <option value="3">Nem um pouco dificil</option>
            </select>
          </div>
          <!-- Message label -->
          <div class="form-outline post-label mb-4 description-label">
            <label class="form-label" for="form6Example7">Descrição</label>
            <textarea maxlength="110" class="form-control" id="" rows="4" name="subjectDesc"
              placeholder="Descreva o seu entendimento em 110 caracteres sobre a matéria."></textarea>
          </div>

          <button type="submit" class="btn btn-primary post-label btn-block mb-4">Salvar</button>
        </form>
      </div>

      <div class="col task-list">
        <label id="taskList-title" >É aqui que você deve listar os conteudos que você quer estudar sobre essa matéria:</label>
          <div class="box">
            <div id="conteudo">
            </div>
                <input type="text" name="q1" id="inputConteudo" placeholder="Insira um novo conteudo" autocomplete="off"></input>
                <button id="adicionarTopico" type="button" name="list">+</button>      
          </div>
      </div>

    </div>

  </div>

<script>

    const adicionarTopico = document.getElementById("adicionarTopico");
    const conteudo = document.getElementById("conteudo");
    const inputConteudo = document.getElementById("inputConteudo");

    adicionarTopico.addEventListener("click", () => {

        const novaCheckBox = document.createElement("input");
        novaCheckBox.type = "checkbox";

        const label = document.createElement("label");
        label.textContent=inputConteudo.value;
        
        const div = document.createElement("div");
        div.classList.add('topico');

        const hr = document.createElement("hr")

        conteudo.appendChild(div);
        div.appendChild(novaCheckBox);
        div.appendChild(label);
        conteudo.appendChild(hr);
    })

 

</script>