<%- include("partials/header"); -%>

  <div class="container-fluid form-material">
    <div class="row">
      <div class="col">
        <form id='especialForm' action="/compose" method="post">
          <div class=" mb-4 post-label">
            <div class="form-outline">
              <label class="form-label" for="form6Example1">Titulo</label>
              <input type="text" id="" name="subjectTitle" class="form-control form-title"
                placeholder="Titulo da matéria" autofocus>
            </div>
          </div>

          <!--Dificult Selector  -->
          <div class="selector-label selector-label-form">
            <label class="selector-title form-label selector-label" for="form6Example1">Dificuldade</label>
            <select class="form-select post-label" name="subjectSelector" aria-label="Default select example">
              <option selected>Selecione a sua dificuldade na matéria</option>
              <option value="extremamente dificil">extremamente dificil</option>
              <option value="um pouco dificil">um pouco dificil</option>
              <option value="nem um pouco dificil">nem um pouco dificil</option>
            </select>
          </div>
          
          <!-- Message label -->
          <div class="form-outline post-label mb-4 description-label">
            <label class="form-label" for="form6Example7">Descrição</label>
            <textarea maxlength="110" class="form-control" id="" rows="4" name="subjectDesc"
              placeholder="Descreva o seu entendimento em 110 caracteres sobre a matéria."></textarea>
          </div>

          <!-- lista de tarefas -->
          <div id="listaDeTarefas" >
            <div id="lista"></div>
            <input id="inputDeTarefas" type="text" name="tarefa" placeholder="Adicionar conteudo">
            <button type="button" id="btnDeTarefas">+</button>
          </div>

          <button type="button" id='save-btn' class="btn btn-danger post-label btn-block mb-4" href="/">Salvar</button>
        </form>
        <button id="return-btn" type="button" class="btn btn-danger btn-lg" ><a target="_parent" href="/">Voltar</a>
        </button>
       
      </div>
    </div>
  </div>
  

  <script>

      const botaoDeTarefas = document.getElementById('btnDeTarefas')
      const listaDeTarefas = document.getElementById('listaDeTarefas')
      const botaoDeSubmit = document.getElementById('save-btn')
      const lista = document.getElementById('lista')
      const inputTarefas = document.getElementById('inputDeTarefas')
      let tasks =  []  

        function adicionarItem(){

          const taskInput = document.createElement('input')
          taskInput.type = 'checkbox';
          taskInput.disabled="true";

          const label = document.createElement("label");
          label.textContent= inputTarefas.value;


          const div = document.createElement("div");
          div.classList.add('topico');

          const hr  = document.createElement('hr')
          
          lista.appendChild(div)
          div.appendChild(taskInput)
          div.appendChild(label)
          lista.appendChild(hr)
          let task = label.textContent;
          tasks.push(task);
          document.getElementById('inputDeTarefas').value='';

        }

        

      botaoDeTarefas.addEventListener('click', adicionarItem)

      document.addEventListener('DOMContentLoaded', function(){
        const formCompose = document.getElementById('especialForm')


        botaoDeSubmit.addEventListener('click', function(event){
          
          const formData = new FormData(formCompose)
          const data  = {};
          data.tasks = tasks;

          formData.forEach((value, key) =>{
            data[key]=value;
          })

          console.log(data) 

          //sinalizando para o usuario do que aconteceu 
          alert("Sua materia foi salva!")

          fetch('/compose', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            }, 
           
            body: JSON.stringify(data),
          })
            .then(response => response.json())
            .then(result => {
                
                // Redirecionar ou fazer algo com a resposta, se necessário
            })
            .catch(error => {
                console.error('Erro:', error);
            })

        })
      })

  </script>
  

