<%- include("partials/header"); -%>

  <div class="container-fluid form-material">
    <div class="row">
      <div class="col">
        <form action="/compose" method="post">
          <div class=" mb-4 post-label">
            <div class="form-outline">
              <label class="form-label" for="form6Example1">Titulo</label>
              <input type="text" id="" name="subjectTitle" class="form-control form-title" placeholder="Titulo da matéria">
            </div>
          </div>
          <div class="selector-label selector-label-form">
            <label class="selector-title form-label selector-label" for="form6Example1">Dificuldade</label>
            <select class="form-select post-label" name="subjectSelector" aria-label="Default select example">
              <option selected>Selecione a sua dificuldade na matéria</option>
              <option value="1">Extremamente dificil</option>
              <option value="2">Um pouco dificil</option>
              <option value="3">Nem um pouco dificil</option>
            </select>
          </div>
          <!-- Message input -->
          <div class="form-outline post-label mb-4 description-label">
            <label class="form-label" for="form6Example7">Descrição</label>
            <textarea maxlength="130" class="form-control" id="" rows="4" name="subjectDesc"
              placeholder="Descreva o seu entendimento em 130 caracteres sobre a matéria."></textarea>
          </div>

          <button type="submit" class="btn btn-primary post-label btn-block mb-4">Salvar</button>
        </form>
      </div>

      <div class="col">
      </div>

    </div>

  </div>