<%- include("partials/header") -%>

<section>
    <div class="container-fluid">
        <h1 id="signatures-title">Escolha o plano que vai te levar para o céu da organização nos estudos!</h1>
        <div id='signatures-row'class="row">
            <div class="col md-12">
                <div id="b1" class="box">
                    <h1 class="sign-plans">Gratuito</h1>
                    <h2 class="sign-price">00$/Mês</h2>
                    <h4 class="sign-desc">Organização boa, limite de materias e sem Dashboard de Progresso</h4>
                    <br><hr>
                    <button class="sign-btn btn btn-lg btn-primary">Continuar</button>
                </div>
            </div>
            <div class="col md-12">
                <div id='b2'class="box"> 
                    <h1 class="sign-plans">Pro</h1>
                    <h2 class="sign-price">15,99$/Mês</h2>
                    <h4 class="sign-desc">Site mais rápido, sem limite de matérias e com Dashboard de Progresso</h4>
                    <br><hr>
                    <button class="sign-btn btn btn-lg btn-danger">Começar</button>
                </div>
            </div>
            <div class="col md-12">
                <div id='b3'class="box">
                    <h1 class="sign-plans">Escolar</h1>
                    <h2 class="sign-price">100.90$/Mês</h2>
                    <h4 class="sign-desc">1 Perfil para cada professor, compatibilidade de sala e matérias com os alunos</h4>
                    <br><hr>
                    <button class="sign-btn btn btn-lg btn-success">Fale conosco</button>
                </div>
            </div>
        </div>
    </div>
</section>
