<%- include("partials/header") -%>

<div class="container">
    <div class="row">
      <div class="col">
        <h1><%=subjectTitle%></h1>
        <p><%=subjectSelector%></p>
        <h1><%=subjDesc%></h1>
      </div>
      <div class="col">

      </div>
      <div class="col">
      </div>
    </div>
  </div>