html, body{
    height: 100%;
    width: 100%;
}

h1, label{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;;
}

p, h5, #side-bar li{
    font-weight: 500;
}

.navbar{
    background-color: transparent;
    border-bottom: solid;
    
}

.container-fluid{
    display: block;
}

.topics{
    top: 10px;
    left: 600px;
    position: relative;
    display: inline-block;
    font-size: 1.8rem;
}

.navbar-brand{
    font-size: 2.5rem;
}

.navbar a:hover{
    text-decoration: underline;
}

.navbar a {
    padding: 2% 2% 0% 0%;
    color:black;
    margin-right:40px;
    margin-left: 12px;
}

#home-title{
    color: #005EFF;
    text-align: left;
    font-size: 5.2rem;
    display: inline-block;
    right: -10px;
    position:relative;
    padding: 2% 0% 3%0%;
}

/* arrumar a imagem dos cards, e refatorar as medidas de margin e padding deles
padding pra esquerda ta muito grande */

#card-section{
    margin-left: 100px;
    display: inline-block;
    position: absolute;
    bottom:  10px;
    height: 450px;
    right: 50px;
    padding: 0% 1%;
    overflow: auto;
    width: 1060px;
}

.card{
    width: 250px;
    display: flex;
    position: relative;
    margin-right: 10px !important;
    border: 2px solid !important;
    margin-top: 4%;
    height: 400px;
    overflow:auto;

}

.card img{
    border-style: solid;
    margin-top: 10px;
    height: 130px;
    border-radius:10px;
}

.row{
    align-items:normal;
}

.span{
    font-size: 45px !important;
    color: black;
    position: relative;
    left: 10px;
    top: 10px;
}
.material-symbols-outlined {
    
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48

  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#side-bar{
    display: flex;
    position: absolute;
    left:-10px;
    flex-direction: column;
    height:400px;
    overflow-y:auto;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background:transparent
  }
  
  ::-webkit-scrollbar-thumb{
     visibility: hidden;
  }
  

.form-material{
    padding: 4% 3% 2% 3%;
    color:#005EFF;
    display: grid;
}


.form-title{
    margin-bottom: 0px;
    display: inline-block;
}

.post-label{
    width: 500px;
}

form .btn{
    width: 20%;
    text-align: center;
    position: relative;
}

textarea, input, select{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.selector-label-form{
    margin: 2% 0% 2% 0%;
    padding: 15px 0px 15px 0px;
}

.description-label{
    margin-bottom: 50px;
    padding-bottom: 15px;
    margin-top: 50px;
}